
<div *ngIf="!showModuleEdit">
    <div class="flex justify-content-end flex-wrap">
        <span nz-icon nzType="edit" nzTheme="outline" class="cursor-pointer fs-20 color-4" (click)="changeshowModuleEdit()"></span>
    </div>
    <div class="grid">
        
        <div class=" m-2 col">
            <label class="font-bold color-4" for="">Alias:</label> <span class="ml-2">{{alias?.value}}</span>
        </div>
        <div class=" m-2 col">
            <label class="font-bold color-4" for="">email:</label> <span class="ml-2">{{mail?.value}}</span>
        </div>
    </div>
</div>
<div *ngIf="showModuleEdit">
   
    <form [formGroup]="myFormLogin" class="w-full">
        <div class="formgrid grid">
            <div class="field col">
                <label  class="" for=""> Alias</label>
                <nz-form-item >
                    <nz-input-group [nzStatus]="(initErrorForm && alias?.errors)? 'error' : ''" nzPrefixIcon="user">
                        <input  nz-input (keyup)="saveLoginForm()"  placeholder="Nick" formControlName="nickName" type="text" /> 
                        @if (initCheckForm && !alias?.errors) {
                            <span nz-icon nzType="check" class="color-3" nzTheme="outline"></span>  
                        }   
                    </nz-input-group>
                    @if (initErrorForm && alias?.errors) {
                        <small class="color-red"><span nz-icon nzType="warning" class="mr-2" nzTheme="outline"></span>Debe ingresar un Alias</small>
                    }
                </nz-form-item>
            </div>
            <div class="field col">
                <label  class="" for=""> Email</label>
                <nz-form-item class="w-full">
                    <nz-input-group [nzStatus]="(initErrorForm && mail?.errors)? 'error' : ''" class="color-4" nzPrefixIcon="mail">
                        <input type="text" (keyup)="saveLoginForm()" nz-input formControlName="email" placeholder="Email" /> 
                        @if (initCheckForm && !mail?.errors) {
                        <span nz-icon nzType="check" class="color-3" nzTheme="outline"></span>  
                        }                   
                                        
                    </nz-input-group>
                    <div class="">
                        @if (initErrorForm && mail?.errors) {
                            <small class="color-red"><span nz-icon nzType="warning" class="mr-2" nzTheme="outline"></span>Debe ingresar un Email</small>
                            <small class="color-red"><span nz-icon nzType="warning" class="mr-2" nzTheme="outline"></span>El Email debe estar en formato correcto</small>
                        }
                    </div>
                </nz-form-item>
            </div>
        </div>
    </form>

    
    

</div>
