


<div class="input-file">
    
    <!-- <input class="avatar-file" type="file" (change)="subirArchivo($event)"> -->
    <!-- <div class="custon-avatar">+</div> -->
</div>
<div class="flex justify-content-center align-items-center flex-wrap w-full ">
    @if (hasImage) {
        <div class="flex justify-content-center col-6">
            <img class="image-upload" [src]="imageUrl" alt="''">
        </div>
        <div class="flex justify-content-center col-6  w-full mb-3">
            <button class="mt-2" nz-button nzType="primary" (click)="openModal()">
                <span class="icon-edit" nz-icon nzType="edit" nzTheme="outline" (click)="openModal()"></span>
                Editar imagen
            </button>
        </div>
    } @else {
        <div class="flex justify-content-center col-6">
            <nz-avatar class="image-upload" [nzShape]="'square'" [nzSize]="300" [nzIcon]="'user'">
            </nz-avatar>
        </div>
        <div class="flex justify-content-center col-6  w-full mb-3">        
            <button class="mt-2" nz-button nzType="primary" (click)="openModal()">
                <span class="icon-edit" nz-icon nzType="edit" nzTheme="outline" (click)="openModal()"></span>
                Editar imagen
            </button>
        </div>
    }
   
   
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Subir Imagen" (nzOnCancel)="handleCancel()">
    <div *nzModalContent class="flex justify-content-center">
        @if (hasImage) {
            <div class="flex justify-content-center w-full h-full">
                <img class="image-upload" [src]="imageUrl" alt="''">
            </div>            
        } @else {
            <div class="icon-upload flex justify-content-center">
                <span nz-icon nzType="cloud-upload" nzTheme="outline"></span>
            </div>
        }
    </div>
    <div *nzModalFooter>
        <div class="formgrid grid">
            <div class="field col-6">
                <input class="avatar-file" id="fileAvatar" type="file" (change)="subirArchivo($event)">
                <label for="fileAvatar" class="ant-btn-secundary w-full flex justify-content-center align-items-center">
                    Elige Imagen
                </label>
            </div>
            @if (fileChoosed) {
                <div class="field col-6">
                    <button nz-button (click)="saveImage()" nzType="primary" class="w-full">
                    
                        Guardar
                    </button>
                </div> 
            } @else {
                <div class="field col-6">
                    <button nz-button (click)="handleCancel()" nzType="primary" class="w-full">Cerrar</button>
                </div>
            }
           

        </div>
    </div>
  </nz-modal>

