<div>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Regístrarse" (nzOnCancel)="cancelar()" (nzOnOk)="registrar()">
        <ng-container *nzModalContent>
            <form [formGroup]="myForm">
                <nz-input-group [nzStatus]="(initErrorForm && nick?.errors)? 'error' : ''" nzPrefixIcon="user">
                    <input  nz-input placeholder="Nick" formControlName="nickName" type="text" /> 
                </nz-input-group>
                @if (initErrorForm && nick?.errors) {
                    <small class="error-form">Debe ingresar un Alias</small>
                }
                <input [nzStatus]="(initErrorForm && mail?.errors)? 'error' : ''" class="mt-2" nz-input placeholder="Email" formControlName="email" type="text" />
                <div class="flex flex-column">
                    @if (initErrorForm && mail?.errors) {
                        <small class="error-form">Debe ingresar un Email</small>
                        <small class="error-form">El Email debe estar en formato correcto</small>
                    }

                </div>
                <nz-input-group [nzStatus]="(initErrorForm && pass?.errors)? 'error' : ''" class="mt-2" nzPrefixIcon="lock">
                    <input  nz-input placeholder="Password" formControlName="password" type="text" />
                </nz-input-group>
                <div class="flex flex-column">
                    @if (initErrorForm && pass?.errors) {
                        <small class="error-form">Debe ingresar una contraseña</small>
                        <small class="error-form">La contraseña tiene que tener minimo 4 digitos</small>
                    }
                </div> 
            </form>
           
        </ng-container>
    </nz-modal>
</div>
